<main>

  <div class="containe-fluid static-page garage-page">

    <div class="row justify-content-center">
      <h1 class="display-3">Taller</h1>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-8">
        <p>
          Nuestro taller esta capacitado con el m&aacute;s alto personal, herramientas
          y maquinaria para poder bridnarle los mejores servicios.
          <br><br>
          Nos destacamos por un r&eacute;pido servicio de calidad.
          Trabajamos con las mejores marcas para que su carro pueda afrontar
          caulquier aventura y trabajo.
          <br><br>
          Dentro de nuestros servicios usted podr&aacute; encontrar:
        </p>
      </div>
    </div>

      <div class="row justify-content-center">
      <div class="col-md-4">
        <ul>
          <li>Mec&aacute;nica r&aacute;pida</li>
          <li>Cambios de aceite</li>
          <li>Filtros de aire</li>
          <li>Reparaci&oacute;n de llantas</li>
          <li>Bater&iacute;as</li>

        </ul>
      </div>

      <div class="col-md-4">
        <ul>
          <li>Frenos</li>
          <li>Lavados</li>
          <li>Puidos</li>
          <li>Instalaciones el&eacute;ctricas</li>
          <li>Modificaciones 4x4</li>
        </ul>
      </div>
    </div>

  </div>

</main>
