<main>

  <div class="container static-page">
    <h1 class="display-4">Taller</h1>

    <div class="row">

      <div class="col-md-8 store-info">
        <p>
          Nuestro taller esta capacitado con el mas alto personal, herramientas
          y maquinaria para poder bridnarle los mejores servicios.
          <br><br>
          Nos destacamos por un servicio de calidad en el menor tiempo posible.
          Trabajamos con las mejores marcas para que su carro pueda afrontar
          caulquier aventura
        </p>
      </div>

      <div class="col-md-4">
        <%= image_tag "garage.jpeg", class: "info-image" %>
      </div>

      <p>
        Dentro de nuestros servicios usted podra encontrar:
      </p>
    </div>

    <div class="row">
      <ul>
        <li>Cambios de aceite</li>
        <li>Reparacion de llantas</li>
        <li>Baterias</li>
        <li>Frenos</li>
        <li>Mecanica rapida</li>
        <li>Lavados</li>
        <li>Y mas...</li>
      </ul>
    </div>


  </div>

</main>
