<main>

  <div class="container-fluid static-page service-page">

    <div class="row justify-content-center">
      <h1 class="display-3">Nuestra Misi&oacute;n</h1>
    </div>

    <div class="row justify-content-center info-description">

      <div class="col-md-8">
        <p>
          En nuestro taller el cliente siempre va primero. En Motor Town se
          imparten los valores de honradez, amablidad, responsabilidad y puntualidad.
          <br><br>
          Nos preocupamos por usar los mejores materiales en nuestros trabajos y productos. <br>
          Adem&aacute;s estamos comprometidos en ayudar al medio ambiente.         
        </p>
      </div>

    </div>

  </div>

</main>
