<main>

  <div class="container static-page">
    <h1 class="display-4">Nuestra Mision</h1>

    <div class="row">

      <div class="col-md-8 store-info">
        <p>
          En nuestro taller el cliente siempre va primero. En Motor Town se
          imparten lo valores de honradez, amablidad, responsabilidad y puntualidad.
          <br><br>
          Nos preocupamos porque todo trabajo cumpla las espectativas de nuestros
          clientes en el menor tiempo posible.
          Trabajamos con las mejores calidades para que su carro pueda afrontar
          caulquier aventura
        </p>
      </div>

      <div class="col-md-4">
        <%= image_tag "handshake.jpg", class: "info-image" %>
      </div>

    </div>

  </div>

</main>
