<main>

  <div class="container static-page">
    <div class="row">
      <div class="col-md-8 store-info">
        <p>
          En Motor Town podra encontrar todo tipo de productos para su vehiculo.
          Nuestro objetivo es brindarle el mejor servicio y atencion a los mejores precios.
          Llevamos sirviendole al los costarricenses por mas de 15 anos.
          <br><br>
          Trabajamos con marcas de excelente calidad y con alto reconomiento nacional
          e internacional como German-Tek, Strona, Sirius, Pennzoil, Akron y mas...
        </p>
      </div>
      <div class="col-md-4">
        <%= image_tag "motor_town.jpg", class: "mt-image" %>
      </div>
      <p>
        Dentro de nuestros productos usted podra encontrar:
      </p>
    </div>

    <div class="row">

      <div class="col-md-6">
        <ul>
          <li>Mataburros</li>
          <li>Estribos</li>
          <li>Racks</li>
          <li>Canastas</li>
          <li>Lonas</li>
          <li>Cajas de Herramientas</li>
        </ul>
      </div>

      <div class="col-md-6">
        <ul>
          <li>Halogenos</li>
          <li>LEDs</li>
          <li>Herramientas</li>
          <li>Productos de limpieza</li>
          <li>Kit de emergencia</li>
          <li>Y mas...</li>
        </ul>
      </div>
    </div>

  </div>

</main>
