<main>

  <div class="containe-fluid static-page store-page">

    <div class="row justify-content-center">
      <h1 class="display-3">Tienda</h1>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-8 justify-content-center">
        <p>
          En Motor Town podr&aacute; encontrar todo tipo de productos para su veh&iacute;culo.
          Nuestro objetivo es brindarle el mejor servicio y atenci&oacute;n a los mejores precios.
          Llevamos sirviendole al pa&iacute;s por m&aacute;s de 15 anos.
          <br><br>
          Trabajamos con marcas de excelente calidad y con alto reconomiento nacional
          e internacional como German-Tek, Strona, Sirius, The Treatment, Pennzoil y Akron.
          <br><br>
          Dentro de nuestros productos usted podra encontrar:
        </p>
      </div>
    </div>


    <div class="row justify-content-center">
      <div class="col-md-4">
        <ul>
          <li>Mataburros</li>
          <li>Estribos</li>
          <li>Racks</li>
          <li>Canastas</li>
          <li>Lonas</li>
          <li>Cajas de Herramientas</li>
        </ul>
      </div>

      <div class="col-md-4">
        <ul>
          <li>Halogenos</li>
          <li>LEDs</li>
          <li>Herramientas</li>
          <li>Productos de limpieza</li>
          <li>Kit de emergencia</li>
          <li>Y m&aacute;s...</li>
        </ul>
      </div>

    </div>

  </div>

</main>
