<div class="container extra-space-top">
  <% flash.each do |key, value| %>
    <div>
      <a href="#" data-dismiss="alert">×</a>
        <%= value %>
    </div>
  <% end %>

	<br><br>

	<%= link_to "Volver a pagina principal",
    welcome_index_path,
    class: "btn btn-secondary",
    role: "button"
  %>

</div>
