@import "/*";
@import "bootstrap";


    .motor-town {
      color: #ff0000;
      font-weight: bold;
      font-size: 32px;
      padding: 0px 8px 8px 10px;
    }

    .motor-town:hover {
      color: #ffffff;
      text-decoration: none;
    }
