@import "/*";
@import "bootstrap";

.custom-navbar {
  background-color: #232222;
  color: white;

  a {
    color: inherit;
  }

  .motor-town {
    color: #ff0000 !important;
    font-weight: bold;
    font-size: 32px;
    padding: 0px 8px 8px 10px;
  }

  .motor-town:hover {
    color: #a8a8a8 !important;
    text-decoration: none;
  }
}

.custom-footer {
  background-color: #232222;
  color: white;
  height: 160px;
  padding-top: 30px;

  a {
    color: inherit;
  }
}

@include media-breakpoint-down(sm) {
  .custom-footer {
    height: 220px;
  }
}
