// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// ********************************** GENERAL SECTION **********************************


.container {
  padding-top: 80px;
  padding-bottom: 40px;
}

.social-media-icon {
  max-height: 40px;
  max-width: 40px;
}

// ********************************** END GENERAL SECTION **********************************


// ********************************** WELCOME SECTION **********************************
.welcome-intro {
  background-image: image-url("car-repair.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 500px;
  color: #FFFFFF;
}

.welcome-slogan {
  width: auto;
  height: 400px;
}

// ********************************** END WELCOME SECTION **********************************

// ********************************** ABOUT SECTION **********************************

.about-container {
  background-image: image-url("carbon-fiber.png");
  background-repeat: repeat;
  background-attachment: fixed;
  min-height: 650px;
  color: #FFFFFF;
}

.about-title {
  margin-top: 8%;
  margin-bottom: 80px;
}

.about-icon {
  max-height: 60px;
  margin-bottom: 40px;
}

// ********************************** END ABOUT SECTION **********************************


.static-page {
  padding-top: 140px;

}

.store-info {
  padding-bottom: 15px;
}

.info-image {
  height: 190px;
  width: 240px;
}

.introduction-text {
  margin: auto;
}

.introduction-information {
  margin-top: 40px;
}