<!DOCTYPE html>
<html>
  <head>
    <title>Motor Town | Un mundo de accesorios...</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="nav-item motor-town" href="#">Motor Town</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Acerca</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Donde estamos?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contactenos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Ingresar</a>
          </li>
        </ul>
      </div>
    </nav>

  <body>
    <%= yield %>
  </body>


    <footer class="container">
      <hr>
      <p>&copy; Motor Town 2017</p>
    </footer>


</html>
